.home {
    text-align: center;
    margin: 20px; 
    color:#454545;
  }
  .about {
    text-align: center;
    margin: 20px;
    color: #454545;
    background: #D1C4E9;
    padding: 20px;
    margin-bottom: 38px;
}
  .ride {
    max-width: 15%;
  }
  .swiper {
    width: 60%;
    height: 40%;
    z-index: 0;
  }
  
  .swiper-slide, .swiper-slide-active {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-button-next, .swiper-button-prev{
    color:chartreuse;
  }
  .swiper-pagination-bullet-active{
    background-color:chartreuse;
  }
  .swiper-pagination{
     position: relative; 
   
  }
  